Repository open-osrs/runelite, pull requests merged in 2019-09, with the labels that each got.

#1528 Menu Entry Swapper: Generate less garbage objects
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug, enhancement, urgent

#1530 Bank tags plugin: Generate less garbage objects
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: bug, enhancement, urgent

#1531 NPC indicators plugin: Generate less garbage objects, fix highlight
  runelite-api/src/main/java/net/runelite/api/events/MenuEntryAdded.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug, enhancement, urgent

#1533 Wiki plugin: Generate less garbage objects
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiSearchChatboxTextInput.java
Labels: bug, enhancement, urgent

#1536 Agility plugin: generate less garbage objects + color range
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/ColorUtil.java
  runescape-client/src/main/java/class225.java
  runescape-client/src/main/java/class51.java
  runescape-client/src/main/java/class65.java
Labels: bug, enhancement

#1534 grounditems: highlight herblore / prayer ground items
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: enhancement

#1524 playerindicators: prioritize clan and friends over targets
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsService.java
Labels: bug

#1525 GroundMarkers: increase number of markers
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
Labels: enhancement

#1616 dropparty:fix
  runelite-client/src/main/java/net/runelite/client/plugins/dropparty/DropPartyConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/dropparty/DropPartyOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/dropparty/DropPartyPlugin.java
Labels: bug

#1685 Fix player attack options and player indicators
  deobfuscator/src/main/java/net/runelite/asm/attributes/code/instructions/VReturn.java
  injector-plugin/src/main/java/net/runelite/injector/Inject.java
  injector-plugin/src/main/java/net/runelite/injector/raw/HidePlayerAttacks.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/wildernesslocations/WildernessLocationsMapOverlay.java
Labels: bug
