Repository open-osrs/runelite, pull requests merged in 2019-08, with the labels that each got.

#1217 project: merge upstream and fix properties
  build.gradle
  runelite-client/build.gradle
  runelite-client/src/main/java/net/runelite/client/RuneLiteProperties.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
  runelite-client/src/main/java/net/runelite/client/ui/RuneLiteSplashScreen.java
  runelite-client/src/main/resources/runelite.plus.properties
  scripts/pom.xml
Labels: gradle

#1226 cox scouter: fix layout message
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug

#1225 Banked XP: Fix Wyrm bones
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/banked/beans/Activity.java
Labels: bug

#1214 events: reduce projectilemoved usage as much as possible
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/coxhelper/CoxInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/coxhelper/CoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/coxhelper/CoxPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/coxhelper/NPCContainer.java
  runelite-client/src/main/java/net/runelite/client/plugins/coxhelper/Victim.java
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/theatre/TheatrePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/theatre/rooms/SotetsegHandler.java
Labels: enhancement

#1190 menuentryswapper: move menuentryadded swaps to priority.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#1272 multilines: fix bug that caused lag/fps spikes after leaving client open and hopping lots of worlds
  runelite-client/src/main/java/net/runelite/client/plugins/multiindicators/MultiIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/multiindicators/MultiIndicatorsMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/multiindicators/MultiIndicatorsPlugin.java
Labels: bug

#1297 remove looting bag destroy option
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#1300 client: Fix bring client to front
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#1314 raids shortcuts: Add PVM plugintype to plugin
  runelite-client/src/main/java/net/runelite/client/plugins/raids/shortcuts/ShortcutPlugin.java
Labels: bug

#1299 idlenotifier: Refactor switch fallthrough and abstractions
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#1391 menuentryswapper: remove shift click customisation for a better alternative.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/Parse.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/ShiftClickInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: urgent

#1425 Bank Plugin: Add option to enlarge bank pin numbers
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/runeliteplus/RuneLitePlusPlugin.java
  runelite-client/src/main/scripts/UpdateBankPin.rs2asm
Labels: enhancement

#1443 loottracker: Truncating a table doesn't work
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#1435 gradle: Travis changes
  .travis.yml
  build.gradle
  scripts/colored-output.gradle
Labels: enhancement

#1437 Player Indicators: plugin rework
  runelite-client/src/main/java/net/runelite/client/config/ConfigItem.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicationLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsService.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsTileOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerRelation.java
  runelite-client/src/main/java/net/runelite/client/ui/components/ComboBoxListRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: enhancement
