Repository open-osrs/runelite, pull requests merged in 2019-11, with the labels that each got.

#1874 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated pull request, gradle

#1855 thieving: Add chest respawn timer
  runelite-client/src/main/java/net/runelite/client/plugins/thieving/Chest.java
  runelite-client/src/main/java/net/runelite/client/plugins/thieving/ChestOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/thieving/ChestRespawn.java
  runelite-client/src/main/java/net/runelite/client/plugins/thieving/ThievingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/thieving/ThievingPlugin.java
Labels: enhancement

#1882 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#1880 project: Merge upstream
  http-service/src/main/java/net/runelite/http/service/osbuddy/OSBGrandExchangeService.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatCommandManager.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/chat/CommandManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/ContainerCalculation.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/bank/ContainerCalculationTest.java
Labels: chore

#1884 draftrelease: Don't include automated pull requests
  .github/release-drafter.yml
  .github/workflows/push.yml
  .github/workflows/release-drafter.yml
Labels: skip-changelog

#1877 woodcutting: added gp earned for woodcutting
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingPlugin.java
Labels: enhancement

#1891 devtools: add source to sound effect overlay
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/SoundEffectOverlay.java
Labels: enhancement

#1888 eventbus: crash on runtime error.
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
Labels: chore

#1890 project: Merge upstream
  runelite-api/src/main/java/net/runelite/api/events/ExperienceChanged.java
  runelite-api/src/main/java/net/runelite/api/events/StatChanged.java
  runelite-client/src/main/java/net/runelite/client/game/UntradeableItemMapping.java
  runelite-client/src/main/java/net/runelite/client/game/XpDropManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/performancestats/PerformanceStatsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/xptracker/XpTrackerPluginTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: chore

#1892 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#1896 deathindicators: Fix saving bones to config
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/Bones.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorPlugin.java
Labels: bug

#1897 project: Injector plugin version bump
  buildSrc/src/main/kotlin/Dependencies.kt
  runelite-api/src/main/java/net/runelite/mapping/ObfuscatedName.java
Labels: bug, gradle

#1898 playerindicators: Fix agility overhead icons
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
Labels: bug

#1899 dependencies: injector plugin 1.0.2
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: chore

#1895 project: Update mixins
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/MenuOpcode.java
  runelite-api/src/main/java/net/runelite/api/WallObject.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInspector.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInspectorOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSBoundaryObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSFloorDecorationMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSGameObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSItemContainerMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSModelMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSNPCMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWallDecorationMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSModel.java
  runescape-client/src/main/java/ArchiveLoader.java
  runescape-client/src/main/java/Client.java
Labels: chore, enhancement

#1902 playerscouter: Null check
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouter.java
Labels: bug

#1901 hydra: null check
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/BabyHydraPlugin.java
Labels: bug

#1906 bank: null check items
  runelite-client/src/main/java/net/runelite/client/plugins/bank/ContainerCalculation.java
Labels: bug

#1907 cluescrolls: add tile null check.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug

#1900 client: Remove unused dependencies/classes
  runelite-client/runelite-client.gradle.kts
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/util/RefUtils.java
  runelite-client/src/main/java/net/runelite/client/util/bootstrap/Bootstrap.java
  runelite-client/src/main/java/net/runelite/client/util/bootstrap/Bootstrapper.java
  runelite-client/src/main/java/net/runelite/client/util/bootstrap/Client.java
Labels: chore

#1909 worldlocation: null check closestArea
  runelite-client/src/main/java/net/runelite/client/game/WorldLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouter.java
  runelite-client/src/main/java/net/runelite/client/plugins/wildernesslocations/WildernessLocationsPlugin.java
Labels: bug

#1910 loottracker: null check
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: bug

#1913 wiki: Fix dupe menu entries
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
Labels: bug

#1915 project: fixes link in the GitHub issue template f
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: skip-changelog

#1920 pvptools: npe fix.
  runelite-client/src/main/java/net/runelite/client/plugins/pvptools/PvpToolsPlugin.java
Labels: bug

#1916 config: Switch to RL their caching method
  runelite-client/src/main/java/net/runelite/client/config/ConfigInvocationHandler.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: bug, chore

#1921 project: Merge upstream
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-api/src/main/java/net/runelite/api/NpcID.java
  runelite-api/src/main/java/net/runelite/api/NullItemID.java
  runelite-api/src/main/java/net/runelite/api/NullObjectID.java
  runelite-api/src/main/java/net/runelite/api/ObjectID.java
  runelite-client/src/main/resources/item_variations.json
  runelite-client/src/main/scripts/ChatBuilder.hash
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
Labels: chore

#1923 project: Bump versions
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: chore

#1924 objectindicators: null check
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: bug

#1925 loottracker: Null check
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#1926 impling: Fix overlays
  runelite-client/src/main/java/net/runelite/client/plugins/implings/Impling.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsOverlay.java
Labels: bug

#1935 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#1938 screenmarker: NPE check
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
Labels: bug

#1936 batsolver: fix NPE
  runelite-client/src/main/java/net/runelite/client/plugins/raidsthieving/BatSolver/ChestIdentifier.java
Labels: bug

#1930 eventbus: use method references.
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
Labels: chore

#1940 cluescroll: NPE check
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug

#1943 maxhit: fix #1941
  runelite-client/src/main/java/net/runelite/client/plugins/maxhit/equipment/EquipmentHelper.java
Labels: bug

#1947 itemcharge: temp fix for ugly broken recoil code.
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
Labels: bug

#1958 raidsthieving: NPE check
  runelite-client/src/main/java/net/runelite/client/plugins/raidsthieving/RaidsThievingPlugin.java
Labels: bug

#1957 vorkath: NPE checks
  runelite-client/src/main/java/net/runelite/client/plugins/vorkath/VorkathPlugin.java
Labels: bug

#1918 deob: Make NonloadingClassWriter better at not loading classes
  deobfuscator/src/main/java/net/runelite/asm/objectwebasm/NonloadingClassWriter.java
  deobfuscator/src/test/java/net/runelite/runeloader/CheckMappings.java
Labels: enhancement, gradle

#1962 Banlist: various fixes/improvements
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/banlist/BanListPlugin.java
Labels: bug, chore

#1953 client: make error logging opt out
  cache/cache.gradle.kts
  deobfuscator/deobfuscator.gradle.kts
  http-api/http-api.gradle.kts
  runelite-client/runelite-client.gradle.kts
  runelite-client/src/main/java/net/runelite/client/RuneLiteProperties.java
  runelite-client/src/main/java/net/runelite/client/config/OpenOSRSConfig.java
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
  runelite-client/src/test/java/net/runelite/client/chat/ChatMessageManagerTest.java
  runelite-client/src/test/java/net/runelite/client/config/ConfigManagerTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/attackstyles/AttackStylesPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/bank/BankPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/banktags/ItemValueSearchTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/cerberus/CerberusPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatfilter/ChatFilterPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/cooking/CookingPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/emojis/EmojiPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/examine/ExaminePluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemcharges/ItemChargePluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/motherlode/MotherlodePluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/smelting/SmeltingPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/timestamp/TimestampPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/wintertodt/WintertodtPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/xptracker/XpTrackerPluginTest.java
  runelite-mixins/runelite-mixins.gradle.kts
Labels: enhancement

#1969 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#1985 client: Log errors in client.init, and capture with sentry if rsps isn't on
  runelite-client/src/main/java/net/runelite/client/ui/ClientPanel.java
Labels: urgent

#1989 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2001 spellbook: StringIndexOutOfBoundsException and ArithmeticException
  runelite-client/src/main/java/net/runelite/client/plugins/spellbook/SpellbookPlugin.java
Labels: bug

#2002 gauntlet: Fix npe
  runelite-client/src/main/java/net/runelite/client/plugins/gauntlet/GauntletPlugin.java
Labels: bug

#1992 stonedtracker: Zalcano boss tab
  runelite-client/src/main/java/net/runelite/client/plugins/stonedtracker/data/BossTab.java
  runelite-client/src/main/java/net/runelite/client/plugins/stonedtracker/data/UniqueItem.java
Labels: enhancement

#1991 loottracker: Add master farmer
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/stonedtracker/ui/LootPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/thieving/ThievingPlugin.java
Labels: enhancement

#2003 project: version bump
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: chore

#1990 project: Gradle 6
  .github/workflows/gradle.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  cache/cache.gradle.kts
  cache/src/test/java/net/runelite/cache/SoundEffectsDumperTest.java
  config/checkstyle/checkstyle.xml
  config/checkstyle/suppressions.xml
  deobfuscator/deobfuscator.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  http-api/http-api.gradle.kts
  injected-client/injected-client.gradle.kts
  runelite-client/runelite-client.gradle.kts
  runelite-client/src/main/java/net/runelite/client/plugins/gauntlet/GauntletPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPanel.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
  runelite-client/src/test/java/net/runelite/client/chat/ChatMessageManagerTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/examine/ExaminePluginTest.java
  settings.gradle.kts
  wiki-scraper/wiki-scraper.gradle.kts
Labels: chore, gradle

#1911 gradle: Reproducible builds
  build.gradle.kts
Labels: chore

#2004 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradlew
Labels: automated-pull-request, gradle

#2005 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2006 project: ensure injector deps are built
  injected-client/injected-client.gradle.kts
Labels: chore, gradle

#2021 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2026 client: Improve menumanager
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/events/MenuOptionClicked.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-mixins/src/main/java/net/runelite/mixins/MenuMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSMenuAction.java
  runescape-client/src/main/java/AbstractWorldMapData.java
  runescape-client/src/main/java/MenuAction.java
  runescape-client/src/main/java/Script.java
Labels: bug

#2025 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2034 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2049 project: Merge upstream
  buildSrc/src/main/kotlin/Dependencies.kt
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreEndpoint.java
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreResult.java
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreResultBuilder.java
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreSkill.java
  http-api/src/main/java/net/runelite/http/api/worlds/WorldType.java
  http-service/src/main/java/net/runelite/http/service/worlds/ServiceWorldType.java
  http-service/src/test/java/net/runelite/http/service/hiscore/HiscoreServiceTest.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/WorldType.java
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/multiindicators/MultiIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/statusorbs/StatusOrbsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpWorldType.java
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/deadman_tournament.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/league.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/seasonal_deadman.png
  runelite-client/src/main/resources/skill_icons_small/league points.png
  runelite-client/src/test/java/net/runelite/client/plugins/attackstyles/AttackStylesPluginTest.java
Labels: chore

#2050 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2042 bootstrap: Halve plugin class in size
  buildSrc/src/main/kotlin/BootstrapPlugin.kt
  buildSrc/src/main/kotlin/BootstrapTask.kt
Labels: enhancement, gradle

#2059 deathindicators: Fix permabones config check
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorPlugin.java
Labels: bug, urgent

#2039 client: Use spellbook onInvTransmit rather than hardcoded script args
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/spellbook/SpellbookPlugin.java
Labels: bug, enhancement

#2062 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2063 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2066 ItemsKeptOnDeath: Add Trouver Support
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/LockedItem.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPluginTest.java
Labels: enhancement

#2068 Runepouch: Trouver parchment support
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RunepouchOverlay.java
Labels: enhancement

#2079 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2082 experiencedrop: Fix damage done in xp drop
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: bug

#2087 learntoclick: fix world map and xp drops
  runelite-client/src/main/java/net/runelite/client/plugins/learntoclick/LearnToClickPlugin.java
Labels: bug
