Repository open-osrs/runelite, pull requests merged in 2019-10, with the labels that each got.

#1731 hydra: config options and useless stun timer
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Sprite.java
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/HydraConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/HydraOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/HydraPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/HydraSceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSSprite.java
Labels: enhancement

#1737 mes: Add right click 'Last-destination' option for Jewellery Boxes
  runelite-api/src/main/java/net/runelite/api/MenuOpcode.java
  runelite-api/src/main/java/net/runelite/api/events/Menu.java
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/util/JewelleryBoxDestination.java
  runelite-client/src/main/scripts/JewelleryBoxInit.hash
  runelite-client/src/main/scripts/JewelleryBoxInit.rs2asm
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/InvDefinition.java
  runescape-client/src/main/java/ModelData0.java
  runescape-client/src/main/java/MusicPatchNode.java
  runescape-client/src/main/java/WorldMapSection1.java
Labels: enhancement

#1745 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1748 api/client: various (MenuEntry api stuff, agility/translate plugin stuff to use that)
  .github/workflows/build.yml
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/MenuEntry.java
  runelite-api/src/main/java/net/runelite/api/events/MenuEntryAdded.java
  runelite-api/src/main/java/net/runelite/api/events/MenuOptionClicked.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
  runelite-client/src/main/java/net/runelite/client/plugins/chattranslation/ChatTranslationConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chattranslation/ChatTranslationPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chattranslation/Languages.java
  runelite-client/src/main/java/net/runelite/client/plugins/chattranslation/Translator.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendnotes/FriendNotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendtagging/FriendTaggingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayermusiq/SlayermusiqPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/suppliestracker/SuppliesTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/warindicators/WarIndicatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/examine/ExaminePluginTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/MenuMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: enhancement

#1758 client: Run SessionClient asynchronously
  runelite-client/src/main/java/net/runelite/client/ClientSessionManager.java
  runelite-client/src/main/java/net/runelite/client/SessionClient.java
Labels: bug

#1761 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1762 Client: Update item stats
  runelite-client/src/main/resources/item_stats.json
Labels: automated pull request, item stats

#1769 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1768 project: Update gradle dependencies
  build.gradle
Labels: automated pull request, gradle

#1770 Client: Update item stats
  runelite-client/src/main/resources/item_stats.json
Labels: automated pull request, item stats

#1763 Gradle: add the option to publish maven artifacts/poms to the GH package registry
  build.gradle
Labels: gradle

#1778 login plugin: Hide "You have been disconnected" when 5 min logged
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/AbstractWorldMapData.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/Coord.java
  runescape-client/src/main/java/DynamicObject.java
  runescape-client/src/main/java/FriendLoginUpdate.java
  runescape-client/src/main/java/FriendSystem.java
  runescape-client/src/main/java/GameShell.java
  runescape-client/src/main/java/GrandExchangeOfferTotalQuantityComparator.java
  runescape-client/src/main/java/LoginPacket.java
  runescape-client/src/main/java/MenuAction.java
  runescape-client/src/main/java/MilliClock.java
  runescape-client/src/main/java/MouseHandler.java
  runescape-client/src/main/java/MouseRecorder.java
  runescape-client/src/main/java/Occluder.java
  runescape-client/src/main/java/PcmPlayer.java
  runescape-client/src/main/java/PlayerAppearance.java
  runescape-client/src/main/java/SequenceDefinition.java
  runescape-client/src/main/java/TilePaint.java
  runescape-client/src/main/java/Timer.java
  runescape-client/src/main/java/VarbitDefinition.java
  runescape-client/src/main/java/Varcs.java
  runescape-client/src/main/java/WorldMap.java
  runescape-client/src/main/java/WorldMapDecoration.java
  runescape-client/src/main/java/WorldMapID.java
  runescape-client/src/main/java/class30.java
  runescape-client/src/main/java/class4.java
Labels: enhancement

#1779 project: Update gradle dependencies
  build.gradle
Labels: automated pull request, gradle

#1785 project: Update gradle dependencies
  build.gradle
  http-service/build.gradle
Labels: automated pull request, gradle

#1782 client: Async-ify or improve data loading methods
  deobfuscator/src/test/java/net/runelite/runesuite/hooks.json
  http-api/build.gradle
  http-api/src/main/java/net/runelite/http/api/RuneLiteAPI.java
  http-api/src/main/java/net/runelite/http/api/account/AccountClient.java
  http-api/src/main/java/net/runelite/http/api/animation/AnimationClient.java
  http-api/src/main/java/net/runelite/http/api/chat/ChatClient.java
  http-api/src/main/java/net/runelite/http/api/item/ItemClient.java
  http-api/src/main/java/net/runelite/http/api/item/ItemEquipmentStats.java
  http-api/src/main/java/net/runelite/http/api/item/ItemStats.java
  http-api/src/main/java/net/runelite/http/api/util/TypeAdapters.java
  http-api/src/main/java/net/runelite/http/api/xtea/XteaClient.java
  runelite-client/src/main/java/net/runelite/client/ClientSessionManager.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/SessionClient.java
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemStat.java
  runelite-client/src/main/java/net/runelite/client/game/ItemVariationMapping.java
  runelite-client/src/main/java/net/runelite/client/game/NPCManager.java
  runelite-client/src/main/java/net/runelite/client/game/NPCStats.java
  runelite-client/src/main/java/net/runelite/client/plugins/highalchemy/HighAlchemyOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouter.java
  runelite-client/src/main/java/net/runelite/client/plugins/stonedtracker/StonedTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/resources/item_stats.json
  runelite-client/src/main/resources/item_variations.json
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
  runelite-client/src/main/resources/npc_stats.json
  runelite-client/src/test/java/net/runelite/client/game/ItemVariationMappingTest.java
Labels: enhancement

#1795 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1794 project: Update gradle dependencies
  build.gradle
Labels: automated pull request, gradle

#1800 project: Update gradle dependencies
  build.gradle
Labels: automated pull request, gradle

#1801 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1805 api: Change menu events' setModifed so it can't change modified back to false
  runelite-api/src/main/java/net/runelite/api/events/MenuEntryAdded.java
  runelite-api/src/main/java/net/runelite/api/events/MenuOpened.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chattranslation/ChatTranslationPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug

#1806 client: Clean up playerscouter/discord
  http-api/src/main/java/net/runelite/http/api/discord/DiscordEmbed.java
  http-api/src/main/java/net/runelite/http/api/discord/DiscordMessage.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouter.java
Labels: enhancement

#1808 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1812 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated pull request, gradle

#1822 project: Update gradle dependencies
  build.gradle
Labels: automated pull request, gradle

#1823 slayermusiq: updated Animal Magnetism link
  runelite-client/src/main/java/net/runelite/client/plugins/slayermusiq/QuestGuideLinks.java
Labels: bug

#1824 project: Update gradle dependencies
  build.gradle
Labels: automated pull request, gradle

#1831 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1807 itemskeptondeath: add true risk handling.
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemReclaimCost.java
  runelite-client/src/main/java/net/runelite/client/game/PvPValueBrokenItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/TrueItemValue.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouter.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPluginTest.java
Labels: client, enhancement

#1832 stonedloottracker: correctly read JSON
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/localstorage/LootRecordWriter.java
Labels: bug, client

#1835 OpponentInfo: Show hp in menu
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSActor.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: api, client, enhancement, rs-api

#1783 inferno: attack timers, piano tiles, safespots, indicators, etc
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoInfoBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoJad.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoNPC.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoNibblerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoPrayerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoPrayerOverlayMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoWaveMappings.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/InfernoWaveOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/displaymodes/InfernoNamingDisplayMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/displaymodes/InfernoPrayerDisplayMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/displaymodes/InfernoSafespotDisplayMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/displaymodes/InfernoWaveDisplayMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/inferno/displaymodes/InfernoZukShieldDisplayMode.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: client, enhancement

#1843 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated pull request

#1829 deathindicator: add permabones
  runelite-api/src/main/java/net/runelite/api/ItemDefinition.java
  runelite-api/src/main/java/net/runelite/api/Scene.java
  runelite-api/src/main/java/net/runelite/api/events/MenuOpened.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/Bone.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/Bones.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/MiscUtils.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSItemDefinitionMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSceneMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSItemDefinition.java
  runescape-api/src/main/java/net/runelite/rs/api/RSNodeDeque.java
  runescape-api/src/main/java/net/runelite/rs/api/RSScene.java
Labels: enhancement

#1813 gauntlet: add resource tracker
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
  runelite-client/src/main/java/net/runelite/client/game/XpDropEvent.java
  runelite-client/src/main/java/net/runelite/client/game/XpDropManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/gauntlet/GauntletConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/gauntlet/GauntletPlugin.java
Labels: client, enhancement

#1849 project: Update gradle wrapper
  gradlew
  gradlew.bat
Labels: automated pull request, gradle
