Repository open-osrs/runelite, pull requests merged in 2019-12, with the labels that each got.

#1952 playermanager: add.
  runelite-api/src/main/java/net/runelite/api/events/PlayerAppearanceChanged.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/events/AttackStyleChanged.java
  runelite-client/src/main/java/net/runelite/client/game/AttackStyle.java
  runelite-client/src/main/java/net/runelite/client/game/CombatStats.java
  runelite-client/src/main/java/net/runelite/client/game/PlayerContainer.java
  runelite-client/src/main/java/net/runelite/client/game/PlayerManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/equipmentinspector/EquipmentInspectorConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/equipmentinspector/EquipmentInspectorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hideunder/HideUnder.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerContainer.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouter.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerscouter/PlayerScouterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayagainstplayer/PrayAgainstPlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayagainstplayer/PrayAgainstPlayerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayagainstplayer/PrayAgainstPlayerOverlayPrayerTab.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayagainstplayer/PrayAgainstPlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayagainstplayer/WeaponType.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSPlayerAppearance.java
  runescape-client/src/main/java/PlayerAppearance.java
Labels: chore, enhancement

#2095 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2097 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2103 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2106 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2109 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2113 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2114 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2116 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2117 client: Re-optimize wikiplugin, call contains on hashmultimap in menumanager
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
Labels: bug

#2119 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2120 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2126 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2125 mixins: Make sure cache overlay inputstreams are closed
  runelite-mixins/src/main/java/net/runelite/mixins/RSAbstractArchiveMixin.java
Labels: bug

#2127 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2131 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2136 mixin: Don't check overlay hash for overlays that didn't exist before
  runelite-mixins/src/main/java/net/runelite/mixins/RSAbstractArchiveMixin.java
Labels: bug

#2137 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2128 client: LambdaMetaFactory for subscribe annotation, java target level 11
  build.gradle.kts
  deobfuscator/deobfuscator.gradle.kts
  runelite-api/src/main/java/net/runelite/api/config/Constants.java
  runelite-client/src/main/java/net/runelite/client/ClientSessionManager.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/callback/ClientThread.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigInvocationHandler.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/eventbus/AccessorGenerator.java
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
  runelite-client/src/main/java/net/runelite/client/eventbus/EventScheduler.java
  runelite-client/src/main/java/net/runelite/client/eventbus/Subscription.java
  runelite-client/src/main/java/net/runelite/client/plugins/Plugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/HydraPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blackjack/BlackjackPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/util/ReflectUtil.java
  runelite-client/src/test/java/net/runelite/client/plugins/PluginManagerTest.java
  runelite-mixins/runelite-mixins.gradle.kts
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
Labels: enhancement

#2142 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2143 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2148 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2151 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2153 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2156 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2159 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2162 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2164 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2165 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2171 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request
