Repository open-osrs/runelite, pull requests merged in 2020-05, with the labels that each got.

#2539 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2542 project: Use latest injector
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: bug, chore

#2544 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2545 externalpluginmanager: ensure no duplicates are saved to config.
  runelite-client/src/main/java/net/runelite/client/plugins/ExternalPluginManager.java
Labels: bug, chore

#2548 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2550 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2553 Revert "project: add groovy dependency"
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug

#2557 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2558 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2559 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
Labels: automated-pull-request, gradle

#2561 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2562 project: Update gradle dependencies
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle

#2566 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2568 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2555 config: add buttons
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
Labels: enhancement

#2570 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2574 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2554 deobber: fix test failure
  runescape-client/src/main/java/LoginPacket.java
Labels: bug, skip-changelog

#2567 project: widget Index OOB fix
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug

#2582 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2581 project: Update gradle dependencies
  cache/cache.gradle.kts
Labels: automated-pull-request, gradle

#2580 mixins: add more clientThread checks
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSItemDefinitionMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTextureMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/SoundEffectMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: enhancement

#2586 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2588 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2589 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2587 client: upstream
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-mixins/src/main/java/net/runelite/mixins/MenuMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: chore

#2590 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2592 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2594 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2597 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2599 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2598 project: Update gradle dependencies
  http-api/http-api.gradle.kts
  runelite-client/runelite-client.gradle.kts
  wiki-scraper/wiki-scraper.gradle.kts
Labels: automated-pull-request, gradle

#2606 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2605 project: Update gradle dependencies
  http-api/http-api.gradle.kts
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle

#2608 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2617 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2627 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2628 client: Revert "infobox manager: make threadsafe"
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBox.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxManager.java
  runelite-client/src/test/java/net/runelite/client/ui/overlay/infobox/InfoBoxManagerTest.java
Labels: bug, skip-changelog, wontfix

#2626 client: Remove (harmless) data submission api calls to openosrs.dev
  http-api/src/main/java/net/runelite/http/api/RuneLiteAPI.java
  http-api/src/main/java/net/runelite/http/api/animation/AnimationsClient.java
  http-api/src/main/java/net/runelite/http/api/sounds/SoundsClient.java
  http-api/src/main/java/net/runelite/http/api/xtea/XteaClient.java
  runelite-client/src/main/java/net/runelite/client/plugins/animations/AnimationsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xtea/XteaPlugin.java
Labels: enhancement

#2629 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2633 mixins: Login stuff
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-mixins/src/main/java/net/runelite/mixins/LoginScreenMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSLoginScreenAnimationMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/Calendar.java
  runescape-client/src/main/java/Login.java
  runescape-client/src/main/java/class299.java
Labels: enhancement, mixins

#2635 project: Merge upstream
  buildSrc/src/main/kotlin/Dependencies.kt
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/scripts/BankSearchLayout.rs2asm
Labels: skip-changelog, upstream

#2637 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2639 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2638 project: Update gradle dependencies
  build.gradle.kts
Labels: automated-pull-request, gradle

#2644 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2649 lowmemory: refresh scene when toggling plugin
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug
