Repository open-osrs/runelite, pull requests merged in 2020-06, with the labels that each got.

#2650 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2655 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2656 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2658 api: add methods for extended player dev tools
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/Point.java
  runescape-api/src/main/java/net/runelite/rs/api/RSActor.java
  runescape-client/src/main/java/Actor.java
  runescape-client/src/main/java/ClientPacket.java
  runescape-client/src/main/java/GrandExchangeOffer.java
  runescape-client/src/main/java/NPC.java
  runescape-client/src/main/java/NPCDefinition.java
  runescape-client/src/main/java/Player.java
  runescape-client/src/main/java/WorldMapSection0.java
  runescape-client/src/main/java/class22.java
  runescape-client/src/main/java/class41.java
Labels: enhancement

#2659 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2663 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2666 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2668 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2669 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2671 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2675 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2677 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2681 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2684 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2685 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2686 configmanager: Save config on client shutdown
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: bug

#2689 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2692 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2694 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2690 playermanager: Ensure no duplicate hiscore lookups are performed (and cleanup)
  runelite-client/src/main/java/net/runelite/client/game/PlayerContainer.java
  runelite-client/src/main/java/net/runelite/client/game/PlayerManager.java
Labels: client

#2697 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2705 rs-api: rename RSClanChat methods
  runescape-api/src/main/java/net/runelite/rs/api/RSClanChat.java
Labels: bug

#2702 project: Update gradle dependencies
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle

#2706 client: Respect symlinks for the config file
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
Labels: bug

#2707 gradle: enable assertions when running from gradle
  build.gradle.kts
  runelite-client/runelite-client.gradle.kts
Labels: gradle

#2708 client: Fix sentry, improve logging
  runelite-client/runelite-client.gradle.kts
  runelite-client/src/main/java/net/runelite/client/util/Groups.java
  runelite-client/src/main/resources/logback.xml
  runelite-client/src/main/resources/sentry.properties
  runelite-client/src/main/resources/udp-openosrs.xml
Labels: client, enhancement, gradle

#2716 client: Make TextComponent not blend text color with color below by default
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TextComponent.java
Labels: :nauseated_face:, bug, client

#2719 mixins: Bring player targeted by hint arrow to front (while not in combat)
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: enhancement

#2722 gradle: Optimizations/cleanup
  buildSrc/src/main/kotlin/BootstrapPlugin.kt
  buildSrc/src/main/kotlin/BootstrapTask.kt
  injected-client/injected-client.gradle.kts
  runelite-client/runelite-client.gradle.kts
  runelite-script-assembler-plugin/runelite-script-assembler-plugin.gradle.kts
  runelite-script-assembler-plugin/src/main/java/net/runelite/script/IndexMojo.java
  settings.gradle.kts
Labels: gradle

#2728 actions: add ability to manually run release drafter
  .github/workflows/manualrun.yml
Labels: skip-changelog
