Repository open-osrs/runelite, pull requests merged in 2020-01, with the labels that each got.

#2060 Client: add hd minimaps
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/TileModel.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSceneMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSpriteMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTileModelMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSScene.java
Labels: enhancement

#2184 mes: make ShopComparableEntry use standardized string.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/comparables/ShopComparableEntry.java
Labels: bug

#2177 client: Refactor chat input listeners to just use the eventbus
  runelite-client/src/main/java/net/runelite/client/chat/ChatCommandManager.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatboxInputListener.java
  runelite-client/src/main/java/net/runelite/client/chat/CommandManager.java
  runelite-client/src/main/java/net/runelite/client/events/ChatInput.java
  runelite-client/src/main/java/net/runelite/client/plugins/twitch/TwitchPlugin.java
Labels: enhancement

#2196 project: Update gradle wrapper
  gradlew
Labels: automated-pull-request, gradle

#2199 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2210 project: Update gradle wrapper
  gradlew
Labels: automated-pull-request, gradle

#2219 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2222 project: Update gradle wrapper
  gradlew
Labels: automated-pull-request, gradle

#2230 client: expose idle/cross methods.
  runelite-api/src/main/java/net/runelite/api/Client.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: chore

#2237 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2238 client: Remove OSB prices from examing and from the GE JPanel
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
Labels: skip-changelog

#2239 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2234 Merge pull request #2234 from xKylee/runecraft-esspouch
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/ClickOperation.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/EssencePouchOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/Pouch.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: enhancement

#2235 Merge pull request #2235 from xKylee/inventorysetup
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/InventorySetup.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/InventorySetupBankOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/InventorySetupConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/InventorySetupItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/InventorySetupPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/InventorySetupSlotID.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupContainerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupEquipmentPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupInventoryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupPluginPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupRunePouchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorysetups/ui/InventorySetupSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/Runes.java
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/back_arrow_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/delete_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/export_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/filter_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/highlight_color_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/highlight_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/import_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/stack_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/unordered_highlight_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/update_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/variation_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/inventorysetups/visible_icon.png
Labels: enhancement

#2253 api: Remove equipment item query
  runelite-api/src/main/java/net/runelite/api/queries/EquipmentItemQuery.java
Labels: chore

#2254 project: Next snapshot
  .github/release-drafter.yml
  buildSrc/src/main/kotlin/Dependencies.kt
Labels: skip-changelog

#2258 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2264 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
Labels: automated-pull-request, gradle

#2263 config: render EnumSet as checkboxes
  runelite-client/src/main/java/net/runelite/client/config/ConfigItem.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
Labels: chore

#2270 mes: add an option to swap offer-all
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#2282 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2287 Merge pull request #2287 from xKylee/shiftwalkmes
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/shiftwalker/ShiftWalkerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/shiftwalker/ShiftWalkerPlugin.java
Labels: enhancement

#2186 Plugin: Hydra Helper Plugin, Refactoring + Features
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/AlchemicalHydra.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/AlchemicalHydraConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/AlchemicalHydraOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/AlchemicalHydraPhase.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/AlchemicalHydraPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/alchemicalhydra/AlchemicalHydraSceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/BabyHydraOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/BabyHydraPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/BabyHydraPrayOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/Hydra.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraAnimation.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraAttackCounterOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraPoisonOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraPrayerAttackCounterOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hydra/HydraPrayerOverlay.java
Labels: enhancement

#1818 npchighlight: added spawn notification
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPluginTest.java
Labels: enhancement

#2295 GPU: Move Ambient Lighting into a title section
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPluginConfig.java
Labels: skip-changelog
