Repository open-osrs/runelite, pull requests merged in 2020-07, with the labels that each got.

#2732 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2733 project: Update gradle dependencies
  build.gradle.kts
Labels: automated-pull-request, gradle

#2736 mixins: fix bug with soundeffectplayed
  runelite-mixins/src/main/java/net/runelite/mixins/SoundEffectMixin.java
Labels: bug

#2737 scriptvmmixin: fix consuming WorldMapEvents and potentially others
  runelite-mixins/src/main/java/net/runelite/mixins/ScriptVMMixin.java
Labels: bug

#2741 client: re-add xtea keys
  http-api/src/main/java/net/runelite/http/api/RuneLiteAPI.java
  http-api/src/main/java/net/runelite/http/api/xtea/XteaClient.java
  runelite-client/src/main/java/net/runelite/client/plugins/xtea/XteaPlugin.java
Labels: enhancement

#2749 rs-client: refactoring and imports
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTileMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/ApproximateRouteStrategy.java
  runescape-client/src/main/java/Canvas.java
  runescape-client/src/main/java/FloorDecoration.java
  runescape-client/src/main/java/Model.java
  runescape-client/src/main/java/ObjectSound.java
  runescape-client/src/main/java/Player.java
  runescape-client/src/main/java/Scene.java
  runescape-client/src/main/java/SoundSystem.java
  runescape-client/src/main/java/WorldMapData_1.java
  runescape-client/src/main/java/WorldMapLabel.java
  runescape-client/src/main/java/WorldMapSection2.java
  runescape-client/src/main/java/class171.java
  runescape-client/src/main/java/class2.java
  runescape-client/src/main/java/class279.java
Labels: enhancement

#2751 api: more imports and tile stuff
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/ItemDefinition.java
  runelite-api/src/main/java/net/runelite/api/Player.java
  runelite-api/src/main/java/net/runelite/api/TileItem.java
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTileMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSItemDefinition.java
  runescape-api/src/main/java/net/runelite/rs/api/RSPlayer.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/FloorUnderlayDefinition.java
  runescape-client/src/main/java/FriendSystem.java
  runescape-client/src/main/java/GrandExchangeOfferWorldComparator.java
  runescape-client/src/main/java/KeyHandler.java
  runescape-client/src/main/java/Message.java
  runescape-client/src/main/java/ModelData0.java
  runescape-client/src/main/java/PlayerAppearance.java
  runescape-client/src/main/java/Scene.java
  runescape-client/src/main/java/TaskHandler.java
  runescape-client/src/main/java/WallDecoration.java
  runescape-client/src/main/java/Widget.java
  runescape-client/src/main/java/WorldMapAreaData.java
  runescape-client/src/main/java/WorldMapID.java
  runescape-client/src/main/java/WorldMapLabel.java
  runescape-client/src/main/java/WorldMapManager.java
  runescape-client/src/main/java/WorldMapSection0.java
  runescape-client/src/main/java/class198.java
  runescape-client/src/main/java/class247.java
  runescape-client/src/main/java/class7.java
  runescape-client/src/main/java/class9.java
Labels: enhancement

#2754 project: upstream
  buildSrc/src/main/kotlin/Dependencies.kt
  http-api/src/main/java/net/runelite/http/api/item/ItemEquipmentStats.java
  runelite-api/src/main/java/net/runelite/api/ItemContainer.java
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-api/src/main/java/net/runelite/api/NpcID.java
  runelite-api/src/main/java/net/runelite/api/NullNpcID.java
  runelite-api/src/main/java/net/runelite/api/NullObjectID.java
  runelite-api/src/main/java/net/runelite/api/ObjectID.java
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
  runelite-client/src/main/scripts/BankSearchLayout.rs2asm
  runelite-mixins/src/main/java/net/runelite/mixins/RSItemContainerMixin.java
Labels: skip-changelog, upstream

#2756 project: Update gradle dependencies
  build.gradle.kts
  cache/cache.gradle.kts
  deobfuscator/deobfuscator.gradle.kts
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle
