Repository open-osrs/runelite, pull requests merged in 2020-02, with the labels that each got.

#2312 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2315 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2326 project: Update gradle wrapper
  gradlew
Labels: automated-pull-request, gradle

#2330 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2335 project: Update gradle wrapper
  gradlew
Labels: automated-pull-request, gradle

#2339 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2342 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2346 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2350 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: automated-pull-request, gradle

#2358 project: Update gradle wrapper
  gradlew
  gradlew.bat
Labels: automated-pull-request, gradle

#2361 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2365 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2368 project: Update gradle wrapper
  gradlew
Labels: automated-pull-request, gradle

#2372 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2374 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2377 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2373 detachedcamera: interaction
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-mixins/src/main/java/net/runelite/mixins/ClickboxMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/ComplianceMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSceneMixin.java
Labels: Compliance

#2380 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2386 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2389 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2391 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request
