Repository open-osrs/runelite, pull requests merged in 2020-08, with the labels that each got.

#2761 project: Update gradle dependencies
  http-api/http-api.gradle.kts
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle

#2769 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2767 project: Update gradle dependencies
  build.gradle.kts
  deobfuscator/deobfuscator.gradle.kts
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle

#2772 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
Labels: automated-pull-request, gradle

#2771 mixins: this event wasnt fired lol
  runelite-mixins/src/main/java/net/runelite/mixins/RSUserMixin.java
Labels: bug, mixins

#2725 widget: add gauntlet map widgetID and widgetInfo
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: enhancement

#2778 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#2785 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2781 project: Update gradle dependencies
  cache/cache.gradle.kts
  deobfuscator/deobfuscator.gradle.kts
  http-api/http-api.gradle.kts
  runelite-api/runelite-api.gradle.kts
  runelite-client/runelite-client.gradle.kts
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
  runelite-client/src/main/java/net/runelite/client/util/Groups.java
  runelite-client/src/main/resources/udp-openosrs.xml
  wiki-scraper/wiki-scraper.gradle.kts
Labels: automated-pull-request, gradle

#2788 client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2792 pluginmanager: only load jar plugins from the folder
  build.gradle.kts
  injected-client/injected-client.gradle.kts
  runelite-client/src/main/java/net/runelite/client/plugins/ExternalPf4jPluginManager.java
Labels: bug
