Repository open-osrs/runelite, pull requests merged in 2020-09, with the labels that each got.

#2789 client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2795 gradle: Update gradle dependencies
  build.gradle.kts
  deobfuscator/deobfuscator.gradle.kts
  runelite-client/runelite-client.gradle.kts
Labels: automated-pull-request, gradle

#2805 client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2804 gradle: Update gradle dependencies
  build.gradle.kts
Labels: automated-pull-request, gradle

#2806 client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2813 project: merge upstream uwu
  buildSrc/src/main/kotlin/Dependencies.kt
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-api/src/main/java/net/runelite/api/NpcID.java
  runelite-api/src/main/java/net/runelite/api/NullItemID.java
  runelite-api/src/main/java/net/runelite/api/NullNpcID.java
  runelite-api/src/main/java/net/runelite/api/NullObjectID.java
  runelite-api/src/main/java/net/runelite/api/ObjectID.java
  runelite-api/src/main/java/net/runelite/api/Quest.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/ui/ContainableFrame.java
Labels: skip-changelog, upstream
