Repository open-osrs/runelite, pull requests merged in 2020-04, with the labels that each got.

#2470 actions: update automerge
  .github/workflows/merge.yml
Labels: bug, skip-changelog

#2473 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2472 plugins: fix plugins loading configs from their dependencies
  runelite-client/src/main/java/net/runelite/client/plugins/ExternalPluginManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
Labels: bug

#2474 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2476 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2479 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2482 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2483 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2485 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2487 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2493 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2496 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2500 externals: catch invalid plugintype exceptions
  runelite-client/src/main/java/net/runelite/client/plugins/ExternalPluginManager.java
Labels: bug

#2499 rsclient: refactoring
  deobfuscator/src/test/java/net/runelite/deob/deobfuscators/mapping/MappingDumper.java
  runescape-api/src/main/java/net/runelite/rs/api/RSAccessFile.java
  runescape-api/src/main/java/net/runelite/rs/api/RSApproximateRouteStrategy.java
  runescape-api/src/main/java/net/runelite/rs/api/RSFileOnDisk.java
  runescape-api/src/main/java/net/runelite/rs/api/RSGameBuild.java
  runescape-api/src/main/java/net/runelite/rs/api/RSModeWhere.java
  runescape-api/src/main/java/net/runelite/rs/api/RSPlayerProvider.java
  runescape-api/src/main/java/net/runelite/rs/api/RSServerBuild.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWorldMapScaleHandler.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWorldMapSection3.java
  runescape-client/src/main/java/AbstractByteArrayCopier.java
  runescape-client/src/main/java/AbstractUserComparator.java
  runescape-client/src/main/java/ApproximateRouteStrategy.java
  runescape-client/src/main/java/ArchiveDiskActionHandler.java
  runescape-client/src/main/java/Buffer.java
  runescape-client/src/main/java/ChatChannel.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/ClientPreferences.java
  runescape-client/src/main/java/Coord.java
  runescape-client/src/main/java/Decimator.java
  runescape-client/src/main/java/DevicePcmPlayerProvider.java
  runescape-client/src/main/java/GameBuild.java
  runescape-client/src/main/java/GameShell.java
  runescape-client/src/main/java/GrandExchangeEvent.java
  runescape-client/src/main/java/GrandExchangeOfferAgeComparator.java
  runescape-client/src/main/java/Language.java
  runescape-client/src/main/java/LoginPacket.java
  runescape-client/src/main/java/MilliClock.java
  runescape-client/src/main/java/ModeWhere.java
  runescape-client/src/main/java/MouseRecorder.java
  runescape-client/src/main/java/MusicPatchNode.java
  runescape-client/src/main/java/MusicPatchPcmStream.java
  runescape-client/src/main/java/NanoClock.java
  runescape-client/src/main/java/NetSocket.java
  runescape-client/src/main/java/PacketBuffer.java
  runescape-client/src/main/java/PcmPlayer.java
  runescape-client/src/main/java/PlayerAppearance.java
  runescape-client/src/main/java/PlayerProvider.java
  runescape-client/src/main/java/ReflectionCheck.java
  runescape-client/src/main/java/SecureRandomFuture.java
  runescape-client/src/main/java/Strings.java
  runescape-client/src/main/java/UserComparator8.java
  runescape-client/src/main/java/UserComparator9.java
  runescape-client/src/main/java/VerticalAlignment.java
  runescape-client/src/main/java/Widget.java
  runescape-client/src/main/java/WorldMapArea.java
  runescape-client/src/main/java/WorldMapEvent.java
  runescape-client/src/main/java/WorldMapIcon_1.java
  runescape-client/src/main/java/WorldMapManager.java
  runescape-client/src/main/java/WorldMapRegion.java
  runescape-client/src/main/java/WorldMapScaleHandler.java
  runescape-client/src/main/java/WorldMapSection0.java
  runescape-client/src/main/java/WorldMapSection3.java
  runescape-client/src/main/java/class105.java
  runescape-client/src/main/java/class169.java
  runescape-client/src/main/java/class198.java
  runescape-client/src/main/java/class22.java
  runescape-client/src/main/java/class237.java
  runescape-client/src/main/java/class7.java
Labels: enhancement

#2501 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2504 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2505 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2506 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2507 overlayRenderer: add check before rendering
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#2508 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2510 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2515 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2516 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2517 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2519 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2518 bootstrap: allow java up to 1g of ram
  buildSrc/src/main/kotlin/BootstrapTask.kt
Labels: bug

#2521 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2524 gradle: make publishing easier
  build.gradle.kts
Labels: enhancement, gradle, skip-changelog

#2513 pluginlist: Add null check
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListPanel.java
Labels: bug

#2529 project: upstream
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextInput.java
  runelite-client/src/main/scripts/PvpWidgetBuilder.hash
  runelite-client/src/main/scripts/PvpWidgetBuilder.rs2asm
Labels: skip-changelog, upstream

#2530 Client: Update NPC stats
  runelite-client/src/main/resources/npc_stats.json
Labels: NPC stats, automated-pull-request

#2532 pluginmanager: allow Plugins to be instantized if they're a plugin regardless of superclass.
  runelite-client/src/main/java/net/runelite/client/plugins/ExternalPluginManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
Labels: enhancement
